*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #11224E;
    text-align: center;
}

h1{
    color: #EEEEEE;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}

.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}

.box{
    height:18vmin;
    width:18vmin;
    background-color: #F87B1B;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 8vmin;
    color:black;
}

.reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #CBD99B;
    color: rgba(0,0,0);
    border-radius: 1rem;    
    border: none;
}

.newgame-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #CBD99B;
    color: rgba(0,0,0);
    border-radius: 1rem;    
    border: none;
}

#msg{
    color: red;
    font-size: 5vmin;
}

.hide{
    display : none;
}

.gamedrawn{
    color: #FFD700;
    font-size: 5vmin;
    height: 15vh;
}